#menu-vitrine{
    background-color: rgba(213, 107, 29, 0.5);
}
#menu-vitrine ul li a{
    color: #58692D;
    text-transform: uppercase;
    font-weight: bold;
}
#header nav img{
    width: 80px;
    height: 100px;
}
#conteudo-menu{
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

#conteudo-menu h2{
    align-content: center;
    justify-content: center;
}

.item-menu{
    margin-left: 10px;
    box-shadow: 3px 3px rgba(31, 31, 31, 0.7);
}

.card-img-top{
    width: auto;
    height: 200px;
}